.container{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid hsl(242, 100%, 50%);
}

.bar{
    width: 60px;
    height: 5px;
    background-color: #4470ff;
    border-radius: 2.5px;
}