/*! CSS Styling for the header element */
/*! Header element at /src/Components/Header/Full/Header.jsx */
.container{
    box-sizing: border-box;
    width: 100%;
    position: sticky;
    top: 0;
    height: 100px;
    background: linear-gradient(to right, hsl(242, 100%, 11%), hsl(242, 100%, 15%));
    border: 3px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999999;
}

/*hsl(242, 100%, 50%)*/