.scrollSection{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    & h1{
        padding: 20px;
        font-family: 'consolas', sans-serif;
        font-size: 60px;
        display: inline-block;
    }
}